<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats | yakunin.design</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.svg">
</head>
<body>
    <h1>This page is displaying stats!</h1>
</body>
</html>